$color1: #010D00;
$color2: #022601;
$color3: #730202;

$color-bg-header: #010d0086;
$color-bg-link-header: #65a603d3;
$color-bg-link-href: #65a603a6;
$color-bg-nav: #7e0b01;
$color-bg-footer: #0d0d0d;